.footer-text{
	text-align: left;
	font-size: 18px;
	padding-top: 40px;
	color:white;
}

a.footer-social{
	color: white;
}

a.footer-social:hover{
	color: #ddd;
}

div.footer-social{
	margin:10px;
}

.header-text{
	text-align: center;
	font-size: 22px;
	color:#4b5f83;
	font-family: Impact, fantasy;
	background-color: lightyellow;
}
