/* Make input tag border transparent */
input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border:none !important;
}

canvas{
  	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1080px;
    height: 566px;
}

h3.title{
	margin-left: 20px;
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	text-decoration: underline;
}

a#download, div#color-picker{
    width: 150px; 
    margin: -20px -50px; 
    position: relative;
    top:50%; 
    left:50%;
}

div#design{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

table#edit-table{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

table#edit-table td{
	height: 100px;
}

table#preview-table{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	width: 1080px;
}

table#preview-table td, table#preview-table th{
	text-align: center;
	vertical-align: middle;
}